*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerForAll{
    display: flex;
    
}
p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
}
.colorPickerContainer{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}
.colorContainer{
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px dotted black;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*====================COUNTER====================*/
.counterContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    width: 300px;
    height: 400px;
    /* background-color: rgb(148, 112, 112); */
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.counterContainer span{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.counterContainer button{
    width: 75px;
    height: 28px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .3s ease-in-out all;
}
.counterContainer button:hover{
    background-color: rgb(191, 191, 191);
    cursor: pointer;
}
.counterContainer button:first-child{
    margin-right: 10px;
}
.counterContainer button:last-child{
    margin-left: 10px;
}

/*====================To-do-list====================*/

.containerToDoList{
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: auto;
}

.enterSth{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: sticky;
    top:0;
}
.enterSth input{
    width: 90%;
    background-color: rgb(52, 52, 52);
    border: none;
    padding-left: 10px;
    color: white;
    font-size: 20px;
    
}
.enterSth input::placeholder{
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}
.enterSth input:focus{
    outline: none;
}

.enterSth span{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(63, 230, 174);
    transition: .3s ease-in-out all;
}
.enterSth span:hover{
    background-color: rgb(48, 198, 148);
    cursor: pointer;
}
.task{
    border-bottom: 1px solid rgb(227, 227, 227);
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    
}
.task label{
    padding-left: 5px;
}

